/*
module.exports = {
    plugins: [require('@tailwindcss/forms'),]
};
*/
#myModal {
  display: none; /* Ensure the modal is initially hidden */
}

.toggle-sign {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  text-align: center;
  line-height: 10px; /* To vertically center the sign */
}